In [1]:
import pandas as pd

In [2]:
from sklearn.naive_bayes import *

In [3]:
data = pd.read_csv("D:/LetsUpgrade/day25/train.csv")

In [4]:
data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Sex          889 non-null    object
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Fare         889 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.6+ KB

In [6]:
data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [7]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [8]:
from sklearn import preprocessing

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.naive_bayes import GaussianNB

In [11]:
from sklearn.metrics import accuracy_score

In [12]:
from sklearn.metrics import confusion_matrix

In [13]:
le = preprocessing.LabelEncoder()

In [14]:
data["Sex"]=le.fit_transform(data["Sex"])

In [15]:
data["Embarked"]=le.fit_transform(data["Embarked"])

In [16]:
data = data.drop(["PassengerId"],axis=1)

In [24]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [38]:
def Model(col):
    x = data.drop([col], axis=1)
    y = data[col]
    train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.3, random_state =0)
    clf = BernoulliNB()
    clf.fit(train_x, train_y)
    ypred = clf.predict(test_x)
    print(f"Accuracy score is {accuracy_score(test_y, ypred)}")
    '\n'
    print(f"Confusion Matrix: \n {confusion_matrix(test_y, ypred)}")

In [39]:
Model('Survived')

Accuracy score is 0.7715355805243446
Confusion Matrix:
 [[131  26]
 [ 35  75]]

In [40]:
Model('Sex')

Accuracy score is 0.7453183520599251
Confusion Matrix:
 [[ 49  49]
 [ 19 150]]

In [41]:
Model('SibSp')

Accuracy score is 0.6891385767790262
Confusion Matrix:
 [[162  20   0   0   0   0   0]
 [ 43  22   0   0   0   0   0]
 [  6   2   0   0   0   0   0]
 [  5   2   0   0   0   0   0]
 [  2   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0]
 [  2   0   0   0   0   0   0]]

In [42]:
Model('Parch')

Accuracy score is 0.7153558052434457
Confusion Matrix:
 [[182  16   0   0   0]
 [ 31   9   0   0   0]
 [ 24   3   0   0   0]
 [  1   0   0   0   0]
 [  1   0   0   0   0]]

In [43]:
Model("Embarked")

Accuracy score is 0.7340823970037453
Confusion Matrix:
 [[  0   0  49]
 [  0   0  22]
 [  0   0 196]]